# Xcode
#
build/
DerivedData/
*.xcodeproj
*.xcworkspace
*.xcuserstate
*.xcuserdatad
xcuserdata/
.DS_Store

# CocoaPods
#
Pods/
Podfile.lock

# Swift Package Manager
#
.build/

# Fastlane
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output

# Temporary files
#
*.swp
*~
*.zip
*.ipa
Payload/
